:root {
  font-family: Arial, sans-serif;
  --green: #06ec74;
  --red: #ff1a1a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  margin: 0
}

form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table {
  border-spacing: .75rem;
  border: 1px solid lightgray;
  font-size: .8rem;
}

table th, table td {
  padding: .25rem 0;
  text-align: center;
}

.delete-btn {
  width: auto;
  height: 1rem;
  padding: 0;
}

.delete-btn-icon {
  width: auto;
  height: 100%;
  cursor: pointer;
}

#toggleTimerBtn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  user-select: none;
  border: none;
  cursor: pointer;
  margin: .25rem .125rem;
  border-radius: .25rem;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .45);
}

#toggleTimerBtn:hover,
#toggleTimerBtn:focus {
  border-color: #000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

#toggleTimerBtn.start-timer {
  background-color: var(--green);
  border-color: var(--green);
}

#toggleTimerBtn.stop-timer {
  background-color: var(--red);
  border-color: var(--red);
}

#toggleTimerBtn .toggle-timer-btn--state {
  width: 100%;
  padding: 0 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#toggleTimerBtn.start-timer .toggle-timer-btn--state.start {
  display: flex !important;
}

#toggleTimerBtn.stop-timer .toggle-timer-btn--state.stop {
  display: flex !important;
}

#toggleTimerBtn svg {
  width: 24px;
  height: 24px;
}
